<a href="https://colab.research.google.com/github/seonyeong00/JoyAI/blob/master/20200917_notetaking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
userName = input('your name=')
userBirthYear = input('your birth year=')
userAffiliation = input('your affiliation=')

your name=JSY
your birth year=2000
your affiliation=HGU

In [4]:
print('Your name is' , userName, '\nYour age is', 2020-int(userBirthYear) , '\nYour affiliation is' , userAffiliation)

Your name is JSY
Your age is 20
Your affiliation is HGU

In [6]:
price = int(input('price='))
total= int(input('total='))
print(total - price)

price=5000
total=10000
5000

In [9]:
# if condition
count = input('type some number=')
print('original flow 1')
if int(count) > 10:
  print('*'*25)
  print('this is inside the if')
  print('*'*25)
else:
print('original flow 2')

type some number=11
original flow 1
*************************
this is inside the if
*************************
original flow 2

In [11]:
r = range(1,7)
list(r)  # 오 요 기능 기억하자

[1, 2, 3, 4, 5, 6]

In [12]:
evenlist = []
oddlist = []
for r in rr:
  print( r, rr)
  if r % 2 == 0: 
    print(r,'is an even number')
    evenllist.append(r)
  else:
    print(r,'is an odd number')
    oddlist.append(r)
# 오오오오 이거 기억하자 댑악

NameError: ignored